<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a [routerLink]="['/cuenta']" class="list-group-item list-group-item-action bg-light">Mi Cuenta</a>
            <a [routerLink]="['/amigos']" class="list-group-item list-group-item-action bg-light">Amigos</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>